# Struktur Data (List, Tuple, Set)
## List
*List* merupakan salah satu struktur data di Python yang paling sering digunakan. Kita bisa membayangkan *list* sebagai urutan data yang tertutup di dalam sepasang kurung siku. Data-data tersebut terpisah oleh sebuah koma. Masing-masing dari data tersebut dapat diakses dengan menggunakan nilai indeksnya masing-masing.

Sebuah *list* dideklarasikan dengan menetapkan `[]` ke sebuah variabel.

In [1]:
a = []

In [2]:
type(a)

list

Kita juga dapat langsung menyisipkan data ke sebuah *list* dan menetapkannya ke sebuah variabel.

In [3]:
x = ['apple', 'orange']

### Indeks

Di Python, indeks dimulai dari 0, sehingga untuk *list* x yang baru saja kita buat dan memiliki dua elemen, 'apple' akan berada di indeks ke-0 dan 'orange' akan berada di indeks ke-1.

In [4]:
x[0]

'apple'

Mengakses data dengan menggunakan indeks juga dapat dilakukan dengan indeks terbalik. Pada kasus ini, indeks akan dimulai dari -1. Sehingga, 'orange' akan ada di indeks -1 dan 'apple' akan ada di indeks -2.

In [5]:
x[-1]

'orange'

In [6]:
y = ['carrot', 'potato']

Kita telah mendeklarasikan dua buah *list* berbeda, yaitu `x` dan `y`. Kedua *list* tersebut memiliki data masing-masing. Masing-masing dari *list* ini dapat disisipkan ke *list* lain, misalnya `z`. Nantinya, *list* `z` akan memiliki *list* `x` dan `y` sebagai datanya. *List* ini dinamakan *nested list*, yang juga berkaitan dengan bagaimana nanti kita akan mendefinisikan sebuah *array* (selanjutnya akan dibahas dengan lebih detil lagi).

In [7]:
z  = [x, y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

Lalu, bagaimana indeks bekerja pada sebuah *nested list*? Misalnya, bagaimana caranya kita dapat mengakses 'orange' dari *list* `z`?

Pertama-tama, pada *list* `z` di indeks 0 akan ada *list* \['apple', 'orange'] dan di indeks 1 akan ada *list* lain yaitu \['carrot', 'potato']. Maka, apabila kita memanggil `z[0]`, maka kita akan mendapatkan *list* pertama yang di dalamnya terdapat 'apple' dan 'orange'.

In [8]:
z[0]

['apple', 'orange']

Dari *list* tersebut kita dapat mengambil elemen kedua (indeks 1) untuk mendapatkan 'orange'.

In [9]:
z[0][1]

'orange'

Sebuah *list* tidak harus memiliki tipe yang sama untuk setiap data di dalamnya.

In [10]:
["this is a valid list", 2, 3.6, ["a","sublist"]] # list yang terdiri dari string, integer, float, dan list

['this is a valid list', 2, 3.6, ['a', 'sublist']]

### Slicing

Mengakses data dengan indeks hanya terbatas pada mengakses satu elemen saja. *Slicing* merupakan teknik yang dapat digunakan untuk mengakses urutan data di dalam sebuah *list*. *Slicing* dilakukan dengan mendefinisikan nilai indeks dari elemen pertama dan elemen terakhir dari *list*. Untuk sebuah *list* \[a:b], a dan b adalah nilai indeks dari *list* tersebut.

Apabila nilai indeks a tidak didefinisikan (misalnya \[:5]) maka a dianggap sebagai indeks awal. Apabila nilai indeks b tidak didefinisikan (misalnya \[3:]) maka b dianggap sebagai indeks akhir.

In [11]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

### Fungsi-fungsi built-in terkait list

Untuk mendapatkan panjang dari *list*, gunakan `len()`.

In [12]:
len(num)

10

Apabila *list* hanya berisi elemen-elemen integer, maka fungsi `min()` dan `max()` akan memberikan nilai minimum dan maksimum dari *list*. Fungsi `sum()` akan mengembalikan jumlah dari elemen-elemen di dalam *list*.

In [13]:
print("min =", min(num),"  max =", max(num),"  total =", sum(num))

min = 0   max = 9   total = 45

In [14]:
max(num)

9

*List* dapat digabungkan dengan cara menambahkan `'+'` di antara kedua *list* yang akan digabungkan.

In [15]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

Untuk mengecek apakah sebuah data ada di dalam *list*, gunakan `in`.

In [16]:
names = ['Earth', 'Air', 'Fire', 'Water']

In [17]:
'Fire' in names

True

In [18]:
'Space' in names

False

Sebuah *string* dapat diubah menjadi sebuah *list* berisi kata-kata dari *string* tersebut dengan menggunakan metode `split()`.

In [19]:
print('Hello   World !!'.split())

['Hello', 'World', '!!']

`append()` digunakan untuk menambahkan elemen baru ke akhir dari *list*.

In [20]:
lst = [1,1,4,8,7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

`count()` digunakan untuk menghitung jumlah dari sebuah elemen tertentu yang ada di dalam *list*.

In [21]:
lst.count(1)

3

`insert(x,y)` digunakan untuk menyisipkan elemen `y` pada indeks `x`. `append()` hanya dapat menyisipkan elemen baru ke akhir *list*.

In [22]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1]

`insert(x, y)` menyisipkan elemen baru namun tidak mengganti elemen lama. Apabila kita ingin mengganti elemen yang lama dengan elemen yang baru, kita bisa langsung menetapkan elemen baru tersebut ke indeks yang kita inginkan.

In [23]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1]

`pop()` mengembalikan dan menghilangkan elemen terakhir dari *list*.

In [24]:
lst.pop()

1

Kita juga dapat memberikan nilai indeks sebagai argumen untuk mengembalikan dan menghilangkan elemen di indeks tersebut.

In [25]:
lst.pop(2)

4

In [26]:
lst

[1, 1, 8, 7, 'Python']

Untuk menghilangkan elemen dengan cara memberikan elemen tersebut sebagai argumennya, kita dapat menggunakan `remove()`.

In [27]:
lst.remove('Python')
print(lst)

[1, 1, 8, 7]

Cara lain untuk menghapus elemen dengan menggunakan nilai indeks (tanpa mengembalikan elemen tersebut) adalah dengan menggunakan `del`.

In [28]:
del lst[1]
print(lst)

[1, 8, 7]

Elemen-elemen yang ada di *list* dapat dibalik dengan menggunakan fungsi `reverse()`.

In [29]:
lst.reverse()
print(lst)

[7, 8, 1]

Python memiliki fungsi *built-in* `sort()` untuk mengurutkan elemen-elemen di dalam *list* dengan urutan menaik. Selain `sort()` kita juga dapat menggunakan `sorted()` apabila kita tidak ingin langsung mengubah list.

In [30]:
lst.sort()
print(lst)

[1, 7, 8]

In [31]:
lst = [7, 8, 1]
print(sorted(lst))

[1, 7, 8]

In [32]:
lst # urutan di list asli tidak berubah ketika kita menggunakan sorted()

[7, 8, 1]

Untuk urutan menurun, kita dapat menggunakan parameter `reverse` untuk mengaturnya. Secara *default*, argumen untuk parameter `reverse` di fungsi `sort()` bernilai `False`. Apabila kita menginginkan urutan menurun, kita perlu menggantinya dengan nilai `True`.

In [33]:
lst.sort(reverse=True)
print(lst)

[8, 7, 1]

Kita juga dapat mengurutkan *string* sesuai dengan urutan leksikal.

In [34]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

Untuk mengurutkan berdasarkan panjang kata, kita dapat menggunakan kode berikut:

In [35]:
names.sort(key=len)
print(names)
print(sorted(names, key=len, reverse=True))

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### Menggandakan sebuah list

Menetapkan sebuah *list* ke sebuah variabel tidak berarti Python membuat *list* yang berbeda, melainkan hanya membuat referensi kedua untuk *list* yang sama. Hal ini sering menjadi jebakan untuk pemrogram Python pemula.

In [36]:
lista = [2,1,4,3]
listb = lista
print(listb)

[2, 1, 4, 3]

Kita telah mendeklarasikan sebuah *list*, yaitu `lista = [2, 1, 4, 3]`. *List* ini kita tetapkan ke variabel `listb` dan ketika kita mencetak `listb`, tampaknya *list* tersebut sudah tergandakan.

Selanjutnya, mari kita coba untuk melakukan operasi pada `lista`, **tanpa melakukan operasi apapun pada `listb`**.

In [37]:
lista.sort()
lista.pop()
lista.append(9)
print("A =", lista)
print("B =", listb)

A = [1, 2, 3, 9]
B = [1, 2, 3, 9]

Bisa dilihat bahwa `listb` juga ikut berubah, padahal kita tidak melakukan operasi apapun pada `listb`. Hal ini menunjukkan bahwa `listb` merujuk ke *list* yang sama dengan *list* yang ditunjuk `lista`. Apabila kita ingin benar-benar menggandakan `lista`, kita dapat menggunakan konsep *slicing*.

In [38]:
lista = [2,1,4,3]
listb = lista[:] # membuat duplikat dengan cara mengambil slice dari awal sampai akhir
print("Starting with:")
print("A =", lista)
print("B =", listb)
lista.sort()
lista.pop()
lista.append(9)
print("Finished with:")
print("A =", lista)
print("B =", listb)

Starting with:
A = [2, 1, 4, 3]
B = [2, 1, 4, 3]
Finished with:
A = [1, 2, 3, 9]
B = [2, 1, 4, 3]

### List comprehension

*List comprehension* adalah konsep yang sangat *powerful* di Python. Dengan *list comprehension*, kita dapat mendefinisikan *list* dengan menggunakan ekspresi *looping*. Sebagai contoh:

In [39]:
[i**2 for i in [1, 2, 3]]

[1, 4, 9]

Penjelasannya adalah, kita membuat sebuah *list* baru dengan cara mengambil masing-masing elemen dari *list* aslinya, \[1, 2, 3], dengan menggunakan konsep *looping*. Kemudian kita memangkatkan masing-masing elemen tersebut. Kita juga dapat menggunakan lebih dari satu *loop*:

In [40]:
[10*i+j for i in [1,2,3] for j in [5,7]]

[15, 17, 25, 27, 35, 37]

Kita juga dapat menggunakan ekspresi `if`:

In [41]:
[10*i+j for i in [1,2,3] if i%2==1 for j in [4,5,7] if j >= i+4] # keep odd i and j larger than i+3 only

[15, 17, 37]

## Tuple

 *Tuple* cukup mirip dengan *list*. Salah satu perbedaan terbesarnya adalah elemen-elemen di dalam *list* dapat diubah, namun elemen-elemen di dalam *tuple* tidak dapat diubah. Contoh dari *tuple* adalah nilai yang dikembalikan oleh fungsi `divmod()`.

In [42]:
xyz = divmod(10, 3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

Untuk mendefinisikan sebuah *tuple*, kita dapat menetapkan tanda kurung `()` atau `tuple()` ke sebuah variabel.

In [43]:
tup = ()
tup2 = tuple()

Kita dapat langsung menetapkan nilai ke sebuah *tuple*:

In [44]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

Konsep *indexing* dan *slicing* juga berlaku untuk *tuple*:

In [45]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

## Set

 *Set* biasanya digunakan untuk menghilangkan data yang merupakan duplikat di sebuah urutan atau *list*. *Set* juga digunakan agar kita dapat melakukan operasi *set*. Sebuah *set* dideklarasikan dengan `set()` (*set* kosong). Kita juga dapat menggunakan `set(urutan)` untuk mendeklarasikan `set` dengan elemen.

In [46]:
set1 = set()
print(type(set1))

<class 'set'>

In [47]:
set0 = set([1,2,2,3,3,4])
print(set0)

{1, 2, 3, 4}

### Fungsi-fungsi built-in

In [48]:
set1 = set([1,2,3])
set2 = set([2,3,4,5])

`union()` akan mengembalikan sebuah *set* yang berisi seluruh elemen dari kedua *set* tanpa pengulangan.

In [49]:
set1.union(set2)

{1, 2, 3, 4, 5}

`add()` akan menambahkan sebuah elemen baru ke dalam *set*. Perhatikan bahwa indeks dari elemen yang baru ditambahkan akan acak, jadi tidak harus terletak sebagai elemen terakhir.

In [50]:
set1.add(0)
set1

{0, 1, 2, 3}

 `intersection()` mengembalikan *set* yang berisi elemen-elemen yang ada di kedua *set*.

In [51]:
set1.intersection(set2)

{2, 3}

`difference()` mengembalikan *set* yang berisi elemen-elemen yang ada di `set1` dan tidak ada di `set2`.

In [52]:
set1.difference(set2)

{0, 1}

 `symmetric_difference()` mengembalikan *set* berisi elemen-elemen yang hanya ada di salah satu *set*.

In [53]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

`pop()` digunakan untuk menghapus sembarang elemen dari *set*.

In [54]:
set1.pop()
print(set1)

{1, 2, 3}

`remove()` menghapus elemen yang telah ditentukan sebelumnya dari dalam *set*.

In [55]:
set1.remove(2)
set1

{1, 3}

 `clear()` digunakan untuk mengosongkan *set*.

In [56]:
set1.clear()
set1

set()